#page1{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page2{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page3{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page4{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page5{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page6{
  background-image: central;
  width: 100px;
  height: 100px;
}
#page7{
  background-image: central;
  width: 100px;
  height: 100px;
}